form.cform#customer-form
    .container.register-form
        .note
            p Create New Customer
        .form-content
            .row
                .col-md-6
                    .form-group
                        input.form-control(name='name' type='text', placeholder='Full Name *', value='' id='name')
                    .form-group
                        input.form-control(name='phone' type='text', placeholder='Phone Number *', value='01' id='phone' pattern="[0]{1}[1]{1}[1|3|5|6|7|8|9]{1}[0-9]{8}")
                .col-md-6
                    .form-group
                        input.form-control(name='address' type='text', placeholder='Address', value='' id='address')
                    .form-group
                        input.form-control(name='date' type='date', placeholder='Account Opening Date', value='' id='date')
            .row
                .col           
                    .input-group
                        input.form-control(name='email' type='email', placeholder='Email', id='email', disabled)
                        span.input-group-append
                            input(type='checkbox',  id='email-radio', onClick="toggle('email-radio', 'email')", value='1' style='width: 38px;height: 38px;')
            br
            button.btnSubmit(type='submit') Submit
script.
    function toggle(checkboxID, toggleID) {
        var checkbox = document.getElementById(checkboxID);
        var toggle = document.getElementById(toggleID);
        updateToggle = checkbox.checked ? toggle.disabled=false : toggle.disabled=true;
        }