<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Accounts</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>ACN</th>
            <th>Total</th>
            <th>Min</th>
            <th>Date Created</th>
            <th>Balance</th>
            <th>Age</th>
            <th>Progress</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/accounts-datatables.js"></script>
