body {
	background-color: grey;
	sfont: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    top: 15%;
}


h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    background-color: whitesmoke;
    border-radius: 5pc;
}
.color-container {
    width: 90%;
    height: 166px;
    background-color: white;
    border-radius: 80px;
    border: 5px solid black;
    margin: auto;

}